<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
    <title>Films</title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>

<body style="overflow: hidden;">
    <header
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="gTitre d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <h1 class="navbar-nav me-auto mb-2 mb-lg-0">Films</h1>
        </div>
        <div class="col-md-3 text-end">
            <div class="bt_logout">
                <a class="btn btn-outline-primary me-2" href="{% url 'logout' %}">Déconnexion</a>
            </div>
        </div>
    </header>
    <content>
        <div class="titre m-5" style="text-align: center;">
            <h2>Listes des films</h2>
        </div>
        <!-- Grille FILM -->
        <div class="">
            <div class="row">
                <div class="col">
                    <form action="search" method="POST">
                        {% csrf_token %}
                        <label for="search"><h5>Recherche:</h5></label>
                        <input type="text" name="search" id="search" placeholder="titre">
                        <button type="submit"></button>
                    </form>
                </div>
                <div class="col">
                    <div class="films_list border-left-5 d-flex flex-wrap align-items-center justify-content-center" style="background-color: rgba(236, 229, 229, 0.548); height: 80vh; width: 90vw; overflow-y: scroll; margin: auto; border: solid 2px;"> 
                        <table class="table table-striped table-hover table-bordered;" id="sortTable">  
                            <thead>
                                <tr>
                                    <th scope="col" class="border-2 border-dark">
                                        <a href="{% url 'sort_films' col_name='titre' %}">
                                            <h3>Titre</h3>
                                        </a>
                                    </th>
                                    <th scope="col" class="border-2 border-dark">
                                        <a href="{% url 'sort_films' col_name='type' %}">
                                            <h3>Type</h3>
                                        </a>
                                    </th>
                                    <th scope="col" class="border-2 border-dark">
                                        <a href="{% url 'sort_films' col_name='date' %}">
                                            <h3>Date</h3>
                                        </a>
                                    </th>
                                    <th scope="col" class="border-2 border-dark">
                                        <a href="{% url 'sort_films' col_name='plateforme' %}">
                                            <h3>Plateforme</h3>
                                        </a>
                                    </th>
                                    <th scope="col" class="border-2 border-dark">
                                        <a href="{% url 'sort_films' col_name='moy_note' %}">
                                            <h3>Note</h3>
                                        </a>
                                    </th>
                                    <th scope="col" class="border-2 border-dark">
                                        <a href="{% url 'sort_films' col_name='statut' %}">
                                            <h3>Statut</h3>
                                        </a>
                                    </th>
                                    <th scope="col" class="border-2 border-dark">
                                        <a href="{% url 'sort_films' col_name='liens' %}">
                                            <h3>Lien</h3>
                                        </a>
                                    </th>
                                    <th scope="col" class="border-2 border-dark">
                                        <a href="{% url 'sort_films' col_name='acteurs' %}">
                                            <h3>Acteurs</h3>
                                        </a>
                                    </th>
                                    <th scope="col" class="border-2 border-dark">
                                        <a href="{% url 'sort_films' col_name='par_qui' %}">
                                            <h3>Ajouteé par qui</h3>
                                        </a>
                                    </th>
                                    <th scope="col" class="border-2 border-dark">
                                        <a href="{% url 'sort_films' col_name='resume' %}">
                                            <h3>Résumé</h3>
                                        </a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody >
                                {% for film in film_list %}
                                <tr>
                                    <td class="border-1 border-dark">{{ film.titre }}</td>
                                    <td class="border-1 border-dark">{{ film.type }}</td>
                                    <td class="border-1 border-dark">{{ film.date }}</td>
                                    <td class="border-1 border-dark">{{ film.plateforme }}</td>
                                    <td class="border-1 border-dark">{{ film.moy_note }}</td>
                                    <td class="border-1 border-dark">{{ film.statut }}</td>
                                    <td class="border-1 border-dark"><a href="{{ film.liens }}">{{ film.liens }}</a></td>
                                    <td class="border-1 border-dark">{{ film.acteurs }}</td>
                                    <td class="border-1 border-dark">{{ film.par_qui }}</td>
                                    <td class="border-1 border-dark">{{ film.resume }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" value="Ajouter un film"></button>

        <!-- Modal / Formulaire ajout film -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ajouter un film</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <tr>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md">
                                            <form action="saveFilm" method="post">
                                                {% csrf_token %}
                                                <div class="row justify-content-evenly m-2">
                                                    <div class="col-sm-4">
                                                        <div class="row">
                                                            <label for="titre">Titre</label>
                                                        </div>
                                                        <div class="row">
                                                            <input type="text" id="titre" name="titre" required>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="row">
                                                            <label for="type">Type</label>
                                                        </div>
                                                        <div class="row">
                                                            <input type="text" id="type" name="type" required>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row justify-content-evenly m-2">
                                                    <div class="col-sm-4">
                                                        <div class="row">
                                                            <label for="">Année</label>
                                                        </div>
                                                        <div class="row">
                                                            <input type="number" id="date" min="1895" max="2100"
                                                                value="2022" name="date">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="row">
                                                            <label for="">plateforme</label>
                                                        </div>
                                                        <div class="row">
                                                            <input type="text" id="plateforme" name="plateforme"
                                                                required>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row justify-content-evenly m-2">
                                                    <div class="col-sm-4">
                                                        <div class="row">
                                                            <label for="">Note moyenne</label>
                                                        </div>
                                                        <div class="row">
                                                            <input type="number" id="note" value="0" name="note">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="row">
                                                            <label for="">Statut</label>
                                                        </div>
                                                        <div class="row">
                                                            <input type="text" id='statut' name="statut" required>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row justify-content-evenly m-2">
                                                    <div class="col-sm-4">
                                                        <div class="row">
                                                            <label for="">Lien</label>
                                                        </div>
                                                        <div class="row">
                                                            <input type="text" id="lien" name="lien">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="row">
                                                            <label for="">Acteurs</label>
                                                        </div>
                                                        <div class="row">
                                                            <input type="text" id="acteurs" name="acteurs">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="container d-flex justify-content-md-center  m-2">
                                                    <div class="row">
                                                        <label for="">Résumer</label>
                                                        <textarea id="resume" cols="60" rows="2"
                                                            name="resume"></textarea>
                                                    </div>
                                                </div>
                                                <div class="container d-flex justify-content-md-center m-2">
                                                    <div class="row align-items-center">
                                                        <div class="col">
                                                            <input type="submit" value="Validée" class="btn btn-primary"
                                                                data-bs-dismiss="modal">
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </tr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </content>
</body>
<script>
    $("#search").submit(function(e) {
        console.log("keypressed");
        e.preventDefault();
        let form = $(this);
        let url = form.attr('search');
        $.ajax({
            type: "POST",
            url: url,
            data: form.serialize(),
            success: function(data){
                console.log(data);
            }
        })
    })
</script>
</html>