{% load static %}
<link rel="stylesheet" href="{% static 'appfilms/css/c.style.css' %}">
<div class="col">
    <div class="films_list border-left-5 text-center fixed-table-container fixed-height rounded-3" style="background-color: rgba(236, 229, 229, 0.548); height: 60vh; width: 90vw; overflow-y: scroll; margin: auto; border: solid 2px;"> 
        <table class="table table-dark table-striped table-borderless" id="sortTable" aria-describedby="Liste des films avec divers informations.">  
            <div class="fixed-table-header">
                <thead class="undefined sticky-header">
                    <tr>
                        <th scope="col" class="">
                            <p></p>
                        </th>
                        <th scope="col" class="border-1 border-white">
                            <a href="{% url 'sort_films' col_name='titre' %}">
                                <h5>Titre</h5>
                            </a>
                        </th>
                        <th scope="col" class="border-1 border-white">
                            <a href="{% url 'sort_films' col_name='type' %}">
                                <h5>Type</h5>
                            </a>
                        </th>
                        <th scope="col" class="border-1 border-white">
                            <a href="{% url 'sort_films' col_name='date' %}">
                                <h5>Date</h5>
                            </a>
                        </th>
                        <th scope="col" class="border-1 border-white">
                            <a href="{% url 'sort_films' col_name='plateforme' %}">
                                <h5>Plateforme</h5>
                            </a>
                        </th>
                        <th scope="col" class="border-1 border-white">
                            <a href="{% url 'sort_films' col_name='moy_note' %}">
                                <h5>Note</h5>
                            </a>
                        </th>
                        <th scope="col" class="border-1 border-white">
                            <a href="{% url 'sort_films' col_name='statut' %}">
                                <h5>Statut</h5>
                            </a>
                        </th>
                        <th scope="col" class="border-1 border-white">
                            <a href="{% url 'sort_films' col_name='liens' %}">
                                <h5>Lien</h5>
                            </a>
                        </th>
                        <th scope="col" class="border-1 border-white">
                            <a href="{% url 'sort_films' col_name='acteurs' %}">
                                <h5>Acteurs</h5>
                            </a>
                        </th>
                        <th scope="col" class="border-1 border-white">
                            <a href="{% url 'sort_films' col_name='par_qui' %}">
                                <h5>Ajouteé par qui</h5>
                            </a>
                        </th>
                        <th scope="col" class="border-1 border-white">
                            <a href="{% url 'sort_films' col_name='resume' %}">
                                <h5>Résumé</h5>
                            </a>
                        </th>
                    </tr>
                </thead>
            </div>

            <tbody >
                {% for film in film_list %}
                <tr>
                    <td class="border-1 border-white">
                        <button type="button" id="bt_{{ film.id }}" class="btn btn-danger">
                            <a href="{% url 'delete' film.id %}" class="text-white text-decoration-none">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                </svg>
                            </a>
                        </button>
                    </td>
                    <td class="border-1 border-white"><strong>{{ film.titre }}</strong></td>
                    <td class="border-1 border-white">{{ film.type }}</td>
                    <td class="border-1 border-white">{{ film.date }}</td>
                    <td class="border-1 border-white">{{ film.plateforme }}</td>
                    <td class="border-1 border-white">{{ film.moy_note }}</td>
                    <td class="border-1 border-white">{{ film.statut }}</td>
                    <td class="border-1 border-white"><a href="{{ film.liens }}" target="_blank">{{ film.liens }}</a></td>
                    <td class="border-1 border-white">{{ film.acteurs }}</td>
                    <td class="border-1 border-white">{{ film.par_qui }}</td>
                    <td class="border-1 border-white">{{ film.resume }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>