<div class="container mb-2 d-flex justify-content-between">
    <div class="form">
        <form action="search" method="POST">
            {% csrf_token %}
            <label for="search"><h5>Recherche:</h5></label>
            <input type="text" name="search" id="search" placeholder="titre">
            <button type="submit">Submit</button>
        </form>
    </div>

    <div class="bt-modal">
        <!-- Button trigger modal /!\ Temporaire -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Ajouter un film</button>
    </div>

</div>
