<div class="row m-3">
    <div class="col d-flex ms-5">
        <form action="{% url 'search' %}" method="POST">
            {% csrf_token %}
            <input type="text" name="search" id="search" placeholder="titre">
            <button type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
            </button>
        </form>

    
        <a class="btn btn-primary ms-3" href="{% url 'reload' %}">Réinit</a>
    </div>

    <div class="col bt-modal d-flex justify-content-end me-5">
        <!-- Button trigger modal /!\ Temporaire -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Ajouter un film</button>
    </div>

</div>
